
/* --- Font definitions --- */
@font-face {
    font-family: open-sans1;
    src: url('fonts/opensans-regular-webfont.woff')
}
@font-face {
    font-family: open-sans1;
    src: url('fonts/opensans-bold-webfont.woff');
    font-weight: bold;
}
@font-face {
    font-family: open-sans1;
    src: url('fonts/opensans-extrabold-webfont.woff');
    font-weight: 900;
}
@font-face {
    font-family: open-sans1;
    src: url('fonts/opensans-light-webfont.woff');
    font-weight: 100;
}

/* ---- Top page menu stylesheet ---- */
#menu li, .button {
    display:inline-block;
    margin: 5px;
    color: #000;
    background:#fff;
    background: rgba(255,255,255, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 5px;
}
#menu li.active{
    background:#666;
    background: rgba(100,100,100, 0.5);
    color: #fff;
}
#menu li a{
    text-decoration:none;
    color: #000;
    font-size: 1em;
}
#menu li.active a:hover{
    color: #000;
}
#menu li:hover{
    background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
    padding: 5px 18px;
    display:block;
}
#menu li.active a{
    color: #fff;
}
#menu {
    position:fixed;
    top:0;
    left:0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin:0;
    font-family: open-sans1;
}
.button{
    border: none;
}


/* ---- Main content for each section style ---- */

.section{
    text-align:center;
    font-family: open-sans1;
}

h1{
    font-size: 7em;
    text-align: center;
}

/* --- Header and footer section style ---*/
#footer{
    position: fixed;
    height: 45px;
    display: block;
    width: 100%;
    background: #333;
    z-index: 9;
    text-align: center;
    color: #f2f2f2;
    font-family: open-sans1;
}
#footer{
    bottom: 0;
}

/* ---- Bottom menu style --- */
#infoMenu {
    height: 20px;
    color: #f2f2f2;
    position: fixed;
    z-index: 0;
    bottom: 2%;
    width: 100%;
    text-align: center;
    font-size: 1.0em;
}
#infoMenu li {
    display: inline-block;
    position: relative;
    padding: 0px 5px 0px 0px;
}

/* ------------ Other sections styles ------------- */

/* --- HOME style --- */
#feature_home{
    width: 100%;
    background-color: #222222;
    color: #f2f2f2;
}
.article_div{
    height: auto;
    font-size: 1.2em;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    padding: 1% 15% 1% 15%;
    background-color: #303f42;
}
#section0 h1{
    color: #eec015;
}

/* --- TIMELINE style --- */

#section1 h1{
    color: #303f42;
    font-size: 6em;
}
#timeline_table{
    font-family: open-sans1;
    border-collapse: collapse;;
    width: 75%;
    margin-left: auto;
    margin-right: auto;

}

#timeline_table td, #timeline_table th {
    border: 1px solid #d5d5d5;
    text-align: left;
    padding: 8px;
}

#timeline_table tr:nth-child(even){background-color: #FFFFFF;
}
#timeline_table tr:nth-child(odd){background-color: #d5d5d5;
}

#timeline_table tr:hover {background-color: #999999;}

#timeline_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #eec015;
    font-size: 1.5em;
    color: #303f42;
}

/* ---- Team page Style --- */

#section2 h1{
    color: #303f42;
    font-size: 6em;
}
.team_div{
    color: #303f42;
    overflow: auto;
}
.team_text {
    width: 25%;
    float: left;
    margin-left: 22%;
    padding-top: 1em;
    text-align: left;
    font-size: 1.5em;
}
.team_pic_div{
    width: 20%;
    float: left;
    padding-top: 1em;
}
.team_pic{
    border: 3px solid white;
}
.team_text_1{
    width: 35%;
    margin-left: 20%;
    padding-right: 1em;
    font-size: 1.5em;
}







/* ---- development section style --- */


.column1, .column2, .column3 {
    width: 31.3%;
    float: left;
    margin: 1%;}
.column3 {
    margin-right: 0%;}