
/* --- Font definitions --- */
@font-face {
    font-family: open-sans1;
    src: url('fonts/opensans-regular-webfont.woff')
}
@font-face {
    font-family: open-sans1;
    src: url('fonts/opensans-bold-webfont.woff');
    font-weight: bold;
}
@font-face {
    font-family: open-sans1;
    src: url('fonts/opensans-extrabold-webfont.woff');
    font-weight: 900;
}
@font-face {
    font-family: open-sans1;
    src: url('fonts/opensans-light-webfont.woff');
    font-weight: 100;
}

/* ---- Top page menu stylesheet ---- */
#menu li {
    display:inline-block;
    margin: 5px;
    color: #000;
    background:#fff;
    background: rgba(255,255,255, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 5px;
}
#menu li.active{
    background:#666;
    background: rgba(100,100,100, 0.5);
    color: #fff;
}
#menu li a{
    text-decoration:none;
    color: #000;
    font-size: 1em;
}
#menu li.active a:hover{
    color: #000;
}
#menu li:hover{
    background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
    padding: 5px 18px;
    display:block;
}
#menu li.active a{
    color: #fff;
}
#menu{
    position:fixed;
    top:0;
    left:0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin:0;
    font-family: monospace;
}

/* ---- Main content for each section style ---- */

.section{
    text-align:center;
    font-family: monospace;
}
#section0 h1{
    color: #8a6d3b;
}
h1{
    font-size: 8em;
    text-align: center;
}

/* --- Header and footer section style ---*/
#footer{
    position: fixed;
    height: 45px;
    display: block;
    width: 100%;
    background: #333;
    z-index: 9;
    text-align: center;
    color: #f2f2f2;
    padding: 5px 0 0 0;
    font-family: monospace;
}
#header{
    top: 0;
}
#footer{
    bottom: 0;
}

/* ---- Bottom menu style --- */
#infoMenu {
    height: 20px;
    color: #f2f2f2;
    position: fixed;
    z-index: 70;
    bottom: 2%;
    width: 100%;
    text-align: center;
    font-size: 1.0em;
    padding: 0 0 0 0px;
}
#infoMenu li {
    display: inline-block;
    position: relative;
    padding: 0px 5px 0px 0px;
}

/* ------------ Other sections styles ------------- */

/* --- HOME style --- */
#feature_home{
    width: 100%;
    background-color: #222222;
    color: #f2f2f2;
}
.article_div{
    height: auto;
    font-size: 1.2em;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    padding: 1% 15% 1% 15%;
    background-color: #101010;
}

/* --- TIMELINE style --- */


.intro1{
    float:left;
    display:inline-block;
}





